<div class="page-wrapperr toggled">
    <!-- sidebar-wrapper -->
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content" data-simplebar style="height: calc(100% - 60px);">
            <div class="sidebar-brand">
                <a href="#!">
                    <img src="../../../../assets/images/fuelProject/logo.jpeg" height="60" width="100" class="logo-light-mode" alt="">
                    <img src="../../../../assets/images/fuelProject/logo.jpeg" height="60" width="100" class="logo-dark-mode" alt="">
                    <span class="sidebar-colored">
                        <img src=".../../../../assets/images/fuelProject/logo.jpeg" height="60" width="100" alt="">
                    </span>
                </a>
            </div>

            <ul class="sidebar-menu">
                <li class="sidebar-dropdown">
                    <a [routerLink]="(['/admin/dashboard'])" class="dashboardText active"><i class="ti ti-home me-2 dashboardHomeIcon"></i>Dashboard</a>
                </li>
                <li class="sidebar-dropdown">
                    <a [routerLink]="(['/admin/manage-users'])" class="dashboardText"><i class="ti ti-browser me-2 dashboardHomeIcon"></i>Manage Users</a>
                </li>
                <li class="sidebar-dropdown">
                    <a [routerLink]="(['/admin/manage-fuel-prices'])" class="dashboardText"><i class="ti ti-browser me-2 dashboardHomeIcon"></i>Manage Fuel Prices</a>
                </li>
            </ul>
            <!-- sidebar-menu  -->
        </div>
        <!-- Sidebar Footer -->
        <ul class="sidebar-footer list-unstyled mb-0">
            <li class="list-inline-item mb-0">
                <a [routerLink]="(['/#!'])" target="_blank" class="btn btn-icon btn-soft-light"><i class="uil uil-power text-danger"></i></a> <small class="text-muted fw-medium ms-1 logoutText">Log Out</small>
            </li>
        </ul>
        <!-- Sidebar Footer -->
    </nav>
    <!-- sidebar-wrapper  -->
</div>