<div class="page-wrapperr toggled">
    <app-side-nav></app-side-nav>
    <main class="page-contentt bg-light">
        <app-top-nav></app-top-nav>
        <div class="container-fluid">
            <div class="layout-specing">

                <!-- Dashboard Welcoming Section Starts -->
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <span class="text-muted mb-1 welcomeBack">Welcome back,
                            {{username}}!</span>
                        <h4 class="mb-0">Admin Dashboard</h4>
                    </div>

                    <div class="mb-0 position-relative">
                        <div class="search-bar p-0 d-none d-md-block ms-2">
                            <div id="search" class="menu-search mb-0">
                                <form role="search" method="get" id="searchform" class="searchform">
                                    <div>
                                        <span class="uil uil-search searchBarIcon"></span>
                                        <input type="text" class="form-control border rounded" name="s" id="s"
                                            placeholder="Search for projects...">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Dashboard Welcoming Section Ends -->
                <hr>

                <div class="row row-cols-xl-4 row-cols-md-3 row-cols-1">
                    <div class="col mt-4">
                        <a href="#!"
                            class="features feature-primary d-flex justify-content-between align-items-center rounded shadow-md p-3 hoverablee">
                            <div class="d-flex align-items-center">
                                <div class="icon text-center rounded-pill">
                                    <i class="uil uil-file-check-alt fs-4 mb-0"></i>
                                </div>
                                <div class="flex-1 ms-3">
                                    <h6 class="mb-0 text-dark welcomeBack">Projects</h6>
                                </div>
                            </div>

                            <span class="text-success"><i class="uil uil-arrow-growth"></i> 40</span>
                        </a>
                    </div><!--end col-->

                    <div class="col mt-4">
                        <a href="#!"
                            class="features feature-primary d-flex justify-content-between align-items-center rounded shadow-md p-3 hoverablee">
                            <div class="d-flex align-items-center">
                                <div class="icon text-center rounded-pill">
                                    <i class="uil uil-lightbulb-alt fs-4 mb-0"></i>
                                </div>
                                <div class="flex-1 ms-3">
                                    <h6 class="mb-0 text-dark welcomeBack">Active</h6>
                                </div>
                            </div>

                            <span class="text-success"><i class="uil uil-arrow-growth"></i> 28</span>
                        </a>
                    </div><!--end col-->

                    <div class="col mt-4">
                        <a href="#!"
                            class="features feature-primary d-flex justify-content-between align-items-center rounded shadow-md p-3 hoverablee">
                            <div class="d-flex align-items-center">
                                <div class="icon text-center rounded-pill">
                                    <i class="uil uil-check fs-4 mb-0"></i>
                                </div>
                                <div class="flex-1 ms-3">
                                    <h6 class="mb-0 text-dark welcomeBack">Finish</h6>
                                </div>
                            </div>

                            <span class="text-success"><i class="uil uil-arrow-growth"></i> 10</span>
                        </a>
                    </div><!--end col-->

                    <div class="col mt-4">
                        <a href="#!"
                            class="features feature-primary d-flex justify-content-between align-items-center rounded shadow-md p-3 hoverable">
                            <div class="d-flex align-items-center">
                                <div class="icon text-center rounded-pill">
                                    <i class="uil uil-toggle-off fs-4 mb-0"></i>
                                </div>
                                <div class="flex-1 ms-3">
                                    <h6 class="mb-0 text-dark welcomeBack">On
                                        Hold</h6>
                                </div>
                            </div>

                            <span class="text-danger"><i class="uil uil-chart-down"></i> 2</span>
                        </a>
                    </div><!--end col-->

                </div><!--end row-->

                <div class="row">
                    <div class="col-xl-8 col-lg-7 mt-4 rounded">
                        <div class="card shadow-md border-0">
                            <div class="p-4 border-bottom">
                                <div class="d-flex justify-content-between">
                                    <h5 class="mb-0 text-dark upcomingMessage">General History On Adpromac</h5>

                                    <a href="#!" class="textColor">See More <i
                                            class="uil uil-arrow-right align-middle"></i></a>
                                </div>
                            </div>

                            <div class="p-4" data-simplebar style="height: 365px;">
                                <a href="javascript:void(0)"
                                    class="features feature-primary key-feature d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div class="icon text-center rounded-circle me-3">
                                            <i class="ti ti-users"></i>
                                        </div>
                                        <div class="flex-1">
                                            <h6 class="mb-0 text-dark upcomingMessages">Lay Low</h6>
                                            <small class="text-muted timeSpanSize">Contractor</small>
                                        </div>
                                    </div>

                                    <i class="ti ti-check text-warning"></i>
                                </a>

                                <a href="javascript:void(0)"
                                    class="features feature-primary key-feature d-flex align-items-center justify-content-between mt-4">
                                    <div class="d-flex align-items-center">
                                        <div class="icon text-center rounded-circle me-3">
                                            <i class="ti ti-users"></i>
                                        </div>
                                        <div class="flex-1">
                                            <h6 class="mb-0 text-dark upcomingMessages">Dedol</h6>
                                            <small class="text-muted timeSpanSize">Consultant</small>
                                        </div>
                                    </div>

                                    <i class="ti ti-check text-warning"></i>
                                </a>

                                <a href="javascript:void(0)"
                                    class="features feature-primary key-feature d-flex align-items-center justify-content-between mt-4">
                                    <div class="d-flex align-items-center">
                                        <div class="icon text-center rounded-circle me-3">
                                            <i class="ti ti-users"></i>
                                        </div>
                                        <div class="flex-1">
                                            <h6 class="mb-0 text-dark upcomingMessages">Samuel</h6>
                                            <small class="text-muted timeSpanSize">Supervising Agency</small>
                                        </div>
                                    </div>

                                    <i class="ti ti-check text-warning"></i>
                                </a>

                                <a href="javascript:void(0)"
                                    class="features feature-primary key-feature d-flex align-items-center justify-content-between mt-4">
                                    <div class="d-flex align-items-center">
                                        <div class="icon text-center rounded-circle me-3">
                                            <i class="ti ti-users"></i>
                                        </div>
                                        <div class="flex-1">
                                            <h6 class="mb-0 text-dark upcomingMessages">Junior</h6>
                                            <small class="text-muted timeSpanSize">Project Management Team</small>
                                        </div>
                                    </div>

                                    <i class="ti ti-check text-warning"></i>
                                </a>

                                <a href="javascript:void(0)"
                                    class="features feature-primary key-feature d-flex align-items-center justify-content-between mt-4">
                                    <div class="d-flex align-items-center">
                                        <div class="icon text-center rounded-circle me-3">
                                            <i class="ti ti-users"></i>
                                        </div>
                                        <div class="flex-1">
                                            <h6 class="mb-0 text-dark upcomingMessages">Project Closed</h6>
                                            <small class="text-muted timeSpanSize">Today
                                                6:00pm</small>
                                        </div>
                                    </div>

                                    <i class="ti ti-check text-warning"></i>
                                </a>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-xl-4 col-lg-5 mt-4 rounded">
                        <div class="card shadow-md border-0">
                            <div class="p-4 border-bottom">
                                <div class="d-flex justify-content-between">
                                    <h5 class="mb-0 text-dark upcomingMessage">Upcoming
                                        Messages</h5>

                                    <a href="#!" class="textColor">See More <i
                                            class="uil uil-arrow-right align-middle"></i></a>
                                </div>
                            </div>

                            <div class="p-4" data-simplebar style="height: 365px;">
                                <a href="javascript:void(0)"
                                    class="features feature-primary key-feature d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div class="icon text-center rounded-circle me-3">
                                            <i class="ti ti-users"></i>
                                        </div>
                                        <div class="flex-1">
                                            <h6 class="mb-0 text-dark upcomingMessages">Meeting
                                                with Developers</h6>
                                            <small class="text-muted timeSpanSize">Today
                                                6:00pm</small>
                                        </div>
                                    </div>

                                    <i class="ti ti-arrow-up text-warning"></i>
                                </a>

                                <a href="javascript:void(0)"
                                    class="features feature-primary key-feature d-flex align-items-center justify-content-between mt-4">
                                    <div class="d-flex align-items-center">
                                        <div class="icon text-center rounded-circle me-3">
                                            <i class="ti ti-users"></i>
                                        </div>
                                        <div class="flex-1">
                                            <h6 class="mb-0 text-dark upcomingMessages">Meeting
                                                with Developers</h6>
                                            <small class="text-muted timeSpanSize">Today
                                                6:00pm</small>
                                        </div>
                                    </div>

                                    <i class="ti ti-arrow-up text-warning"></i>
                                </a>

                                <a href="javascript:void(0)"
                                    class="features feature-primary key-feature d-flex align-items-center justify-content-between mt-4">
                                    <div class="d-flex align-items-center">
                                        <div class="icon text-center rounded-circle me-3">
                                            <i class="ti ti-users"></i>
                                        </div>
                                        <div class="flex-1">
                                            <h6 class="mb-0 text-dark upcomingMessages">Meeting
                                                with Developers</h6>
                                            <small class="text-muted timeSpanSize">Today
                                                6:00pm</small>
                                        </div>
                                    </div>

                                    <i class="ti ti-arrow-up text-warning"></i>
                                </a>

                                <a href="javascript:void(0)"
                                    class="features feature-primary key-feature d-flex align-items-center justify-content-between mt-4">
                                    <div class="d-flex align-items-center">
                                        <div class="icon text-center rounded-circle me-3">
                                            <i class="ti ti-users"></i>
                                        </div>
                                        <div class="flex-1">
                                            <h6 class="mb-0 text-dark upcomingMessages">Meeting
                                                with Developers</h6>
                                            <small class="text-muted timeSpanSize">Today
                                                6:00pm</small>
                                        </div>
                                    </div>

                                    <i class="ti ti-arrow-up text-warning"></i>
                                </a>

                                <a href="javascript:void(0)"
                                    class="features feature-primary key-feature d-flex align-items-center justify-content-between mt-4">
                                    <div class="d-flex align-items-center">
                                        <div class="icon text-center rounded-circle me-3">
                                            <i class="ti ti-users"></i>
                                        </div>
                                        <div class="flex-1">
                                            <h6 class="mb-0 text-dark upcomingMessages">Meeting
                                                with Developers</h6>
                                            <small class="text-muted timeSpanSize">Today
                                                6:00pm</small>
                                        </div>
                                    </div>

                                    <i class="ti ti-arrow-up text-warning"></i>
                                </a>

                                <a href="javascript:void(0)"
                                    class="features feature-primary key-feature d-flex align-items-center justify-content-between mt-4">
                                    <div class="d-flex align-items-center">
                                        <div class="icon text-center rounded-circle me-3">
                                            <i class="ti ti-users"></i>
                                        </div>
                                        <div class="flex-1">
                                            <h6 class="mb-0 text-dark upcomingMessages">Meeting
                                                with Developers</h6>
                                            <small class="text-muted timeSpanSize">Today
                                                6:00pm</small>
                                        </div>
                                    </div>

                                    <i class="ti ti-arrow-up text-warning"></i>
                                </a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">
                    <div class="col-xl-12">
                        <div class="row">
                            <div class="col-xl-12 mt-4">
                                <div class="card rounded shadow-md border-0 p-4 projectBackupLogsCard">
                                    <div class="d-flex justify-content-between mb-4 p-2 border-bottom">
                                        <h5 class="mb-0 upcomingMessage">Projects Backup</h5>

                                        <div class="text-end">
                                            <h6 class="mb-0 upcomingMessage">Logs</h6>
                                        </div>
                                    </div>
                                    <div id="sale-chart"></div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end col-->
                </div><!--end row-->

            </div>
        </div>

        <!-- <app-admin-footer></app-admin-footer> -->
    </main>
</div>