<app-website-navbar></app-website-navbar>

<!-- Hero Start -->
<section class="bg-half-260 bg-primary d-table w-100"
    style="background: url('../../../../assets/images/fuelProject/station.png') center center; background-size:auto;">
    
    <div class="bg-overlay"></div>
    <div class="container">
            <h1 style="color: white; position: relative; left: 50px; text-align: center; font-size: 5rem; top: 5rem;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">FuelScape</h1>
        <div class="row">
            <div class="col-12">
                <div class="title-heading text-center mt-4">
                    <img src="../../../../assets/images/logo/logo"
                        height="50"  class="small" alt>
                    <div
                        class="text-center subcribe-form mt-4 pt-2 animated fadeInUpBig animated.delay-5s">
                       
                    </div>
                    <div class="mt-4 pt-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="footer-py-30 footer-bar">
    
    <div class="container-fluid text-center">
        <div class="row align-items-center">
            <div class="col-sm-3">
                <div class="text-sm-start">
                    <p class="mb-0 text-white footerText">© 2023
                        Fuel System: All Right Reserved</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="text-sm-start">
                    <p class="mb-0 text-white footerText">
                        <a [routerLink]="(['/#!'])"
                            class="text-white ml-2 privacy">About </a>
                        <a [routerLink]="(['/#!'])"
                            class="text-white ml-2 terms"
                            data-bs-toggle="modal"
                            data-bs-target="#LoginForm">Advertising
                        </a>
                    </p>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="text-sm-end">
                    <p class="mb-0 text-white footerText">
                        <a [routerLink]="(['/#!'])"
                            class="text-white ml-2 privacy">Privacy </a>
                        <a [routerLink]="(['/#!'])"
                            class="text-white ml-2 terms">Terms </a>
                        <a [routerLink]="(['/#!'])"
                            class="text-white ml-2 settings">Settings
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="text-sm-end">
                    <p class="mb-0 text-white footerText">Craft with <i
                            class="mdi mdi-heart text-danger"></i> by <a
                            href="https://doltech.io/" target="_blank"
                            class="text-reset"> Leticia</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>

    

<!-- Hero End -->

<!-- Footer Start -->

<!-- Footer End -->